@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$Montserrat: "Montserrat", sans-serif;
$text: #222;

@mixin button {
  text-transform: uppercase;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: $text;
  border: 1px solid $text;
  border-radius: 25px;
  transition: 0.4s;

  &:hover {
    color: $text;
    background-color: #fff;
    border: 1px solid $text;
  }
}

* {
  
  margin: 0;
  padding: 0;
  font-family: $Montserrat;
  box-sizing: border-box;
}

.modal-project {
  z-index: 9999;
  background-color: rgba($color: #fff, $alpha: 0.4);
  backdrop-filter: blur(25px);
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-project-content {
    position: relative;
    border: 1px solid $text;
    width: 400px;
    border-radius: 15px;
    z-index: 99999;
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 53px 8px rgba(34, 34, 34, 0.09);
    -moz-box-shadow: 0px 8px 53px 8px rgba(34, 34, 34, 0.09);
    box-shadow: 0px 8px 53px 8px rgba(34, 34, 34, 0.09);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 10px;
  }

  h3 {
    font-size: 1.5rem;
  }

  .ico {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    outline: none;
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
      border: 0;
      background-color: transparent;
      color: $text;
    }
  }

  &.active {
    transition: 0.6s;
    opacity: 1;
    visibility: visible;
  }

  input {
    padding: 5px 0;
    border: 0;
    outline: none;
    border-bottom: 1px solid $text;

    &:active,
    &:focus {
      border: none;
      outline: none;
      border-bottom: 1px solid $text;
    }
  }

  button {
    @include button();
  }
}

body::-webkit-scrollbar {
  position: relative;
  background: #222;
  width: 5px;
  transition: width 1s;
}

.fa-bars {
  scale: 1.5;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  width: 3px;
}
body{
  color: $text;
  background: #fff;
}
body.active{
  background-color: $text;
  & > *{
    color: #fff !important;
    background-color: $text !important;
  }
  & > .modal .modal-content .text-content .text-content-info{
    background-color: transparent;
  }
  & > .Portfolio_section .cards-content .card{
    -webkit-box-shadow: 0px 8px 53px 8px rgba(204, 204, 204, 0.3);
      -moz-box-shadow: 0px 8px 53px 8px rgba(204, 204, 204, 0.3);
      box-shadow: 0px 8px 53px 8px rgba(204, 204, 204, 0.3);
  }
  & > .services .services__card{
    border: 1px solid #fff
  }
  & > .services .services__card .project{
    border: 1px solid #fff;
  }
  & > .questions button{
    border: 1px solid #fff;
  }
  nav .navigation .nav-content li a{
    color: #fff;
  }
  .question-exit .fa-solid{
    color: #fff;
  }
  .modal-exit .fa-solid{
    color: #fff;
  }
  .theme button{
      border: 0;
      outline: none;
      background-color: transparent !important;
      color:#fff !important;
    }
}

.element-animation {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.7s;
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.7s;
  transform: translateY(0%);
}

nav {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 10px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($color: #fff, $alpha: 0.4);
  backdrop-filter: blur(25px);

  a {
    font-size: 1.5rem;
    position: relative;
    color: $text;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -3px;
      background: #222;
      border-radius: 5px;
      transform: scaleX(0);
      transition: 0.4s;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }

  .logo {
    img {
      width: 5rem;
    }
  }

  .open {
    width: 35px;
    border: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
  }

  .navigation {
    -webkit-box-shadow: 0px 8px 53px 8px rgba(34, 34, 34, 0.09);
    -moz-box-shadow: 0px 8px 53px 8px rgba(34, 34, 34, 0.09);
    box-shadow: 0px 8px 53px 8px rgba(34, 34, 34, 0.09);
    z-index: -9999;
    position: fixed;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgba($color: #fff, $alpha: 0.4);
    backdrop-filter: blur(25px);
    transform: translateX(-50%);
    left: 50%;
    top: 70px;
    width: 50%;
    height: 0;
    visibility: hidden;
    display: flex;
    justify-content: space-between;

    overflow: hidden;
    transition: 1s;

    .right {
      button {
        @include button();
      }
    }

    .nav-content {
      display: flex;
      flex-direction: column;
      gap: 40px;
      font-size: 2rem;
      font-weight: 500;
      list-style: none;

      li:last-child {
        cursor: pointer;
        position: relative;
        display: flex;
        gap: 10px;

        .fa-angle-down {
          transform: rotate(0deg);
          transition: 0.4s;

          &:hover {
            transform: rotate(-180deg);
          }

          &.active {
            transform: rotate(-180deg);
          }
        }

        align-items: center;

        &:hover .submenu {
          visibility: visible;
          -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
          transform: scaleY(1);
        }
      }

      .submenu {
        margin-left: 2%;
        visibility: hidden;
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        background: transparent;
        position: absolute;
        top: 50px;
        left: 0;
        width: 150%;
        z-index: 10;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        list-style: none;
      }

      .submenu.open {
        margin-left: 2%;
        visibility: visible;
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
      }
    }

    .mesto {
      margin-bottom: 40px;
      display: flex;
      align-items: end;
      flex-direction: column;
      gap: 20px;
      cursor: pointer;

      h6 {
        font-weight: 500;
        font-size: 1.5rem;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }

  .navigation.active {
    padding: 4% 5%;
    height: 50vh;
    visibility: visible;
  }
}
.theme{
  margin-top: 2%;
  display: flex;
  gap: 4%;
  button{
    border: 0;
    outline: none;
    background-color: transparent !important;
    color:#222 !important;

    
  }
}

.swiper {
  width: 100%;
  height: auto;
  margin: 0;
}

.swiper-wrapper {
  box-sizing: content-box;
}

.swiper-slide {
  cursor: pointer;
  height: 900px;

  p {
    font-weight: 100;
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 2rem;
    color: #fff;
    opacity: 0.6;
  }

  &:first-child {
    background-image: url(./img/portfolio_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  &:nth-child(2) {
    background-image: url(./img/portfolio_2.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center top;
  }

  &:nth-child(3) {
    background-image: url(./img/portfolio_3.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center bottom;
  }

  &:nth-child(4) {
    background-image: url(./img/portfolio_4.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center top;
  }
}

.About-Us {
  margin-top: 200px;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 4% 30px;
  }

  p {
    font-weight: 400;
    margin: 0 4% 30px;
  }

  .img-content {
    user-select: none;
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .text-content {
    width: 50%;
    margin: 30px auto 0;
    text-align: center;

    h4 {
      font-size: 1.5em;
      font-weight: 500;
    }

    p {
      margin-top: 30px;
      font-size: 1rem;
    }
  }
}

.Portfolio_section {
  margin: 200px 0 0 0;

  .list {
    height: 100px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;

    li {
      cursor: pointer;
      position: relative;
      color: $text;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -3px;
        background: $text;
        border-radius: 5px;
        transform: scaleX(0);
        transition: 0.4s;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }

    .border-active {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -3px;
        background: $text;
        border-radius: 5px;
        transform: scaleX(1);
        transition: 0.4s;
      }
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 4% 30px;
  }

  .cards-content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .card {
      -webkit-box-shadow: 0px 8px 53px 8px rgba(34, 34, 34, 0.09);
      -moz-box-shadow: 0px 8px 53px 8px rgba(34, 34, 34, 0.09);
      box-shadow: 0px 8px 53px 8px rgba(34, 34, 34, 0.09);
      cursor: pointer;
      border-radius: 25px;
      overflow: hidden;
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: space-between;
      align-items: start;

      .text-content {
        width: 40%;
        height: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;

        h5 {
          font-weight: 600;
          letter-spacing: 10px;
          font-size: 2rem;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 10px;

          p {
            display: flex;
            gap: 15px;
          }
        }
      }

      .img-content {
        width: 60%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.modal {
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1000;
  background: rgba($color: #fff, $alpha: 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;

  .modal-exit {
    position: fixed;
    top: 3%;
    right: 1.5%;
    border: 0;
    outline: none;
    cursor: pointer;
    background: transparent;

    i::before {
      width: 40px;
    }
  }

  .modal-content {
    -webkit-box-shadow: 0px 8px 53px 8px rgba(34, 34, 34, 0.4);
    -moz-box-shadow: 0px 8px 53px 8px rgba(34, 34, 34, 0.4);
    box-shadow: 0px 8px 53px 8px rgba(34, 34, 34, 0.4);
    position: relative;
    width: 60%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      background: #222;
      width: 5px;
      transition: width 1s;
    }

    &::-webkit-scrollbar-thumb {
      background: #fff;
      width: 3px;
    }

    .text-content {
      padding: 10px;
      width: 100%;

      .text-content-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 20px;
        min-height: 100px;
        border-radius: 25px;
        margin: 0 auto;
        background-color: #d2d2d2;

        h1 {
          font-size: 1.5rem;
          font-weight: 500;
        }

        .info {
          flex-wrap: wrap;
          width: 40%;
          display: flex;
          gap: 20%;

          p {
            font-weight: 300;
            font-size: 1rem;
            display: flex;
            gap: 15px;
          }
        }
      }
    }

    .img-content {
      width: 100%;
      padding: 10px;

      img {
        border-radius: 25px;
        width: 100%;
      }
    }

    .grid-content {
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      &>div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 10px;
      }

      &>div>img {
        width: 100%;
        height: 100%;
      }

      gap: 10px;

      .tall {
        grid-column: span 3;
      }
    }
  }
}

.services {
  margin-top: 200px;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 4% 30px;
  }

  &__cards {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    margin: 0 3%;
    width: 100%;
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid rgba($color: $text, $alpha: 0.4);
    flex-direction: column;

    &__header {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.7;
      }
    }

    &__price {
      display: flex;
      gap: 30px;
      flex-direction: column;

      p {
        font-size: 1.2rem;
        font-weight: 400;
      }

      button {
        @include button();
      }
    }
  }
}

.questions {
  margin-top: 200px;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 4% 30px;
  }

  .question_content-1 {
    margin: 0 auto;
    width: 70%;
    position: relative;
    transition: margin 0.4s ease-in;

    &.open {
      margin: 0 auto 280px;
    }
  }

  .question_1 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .question-exit {
      cursor: pointer;
      border: 0;
      outline: none;
      background: transparent;
      transform: rotate(45deg);
      transition: all 0.4s ease-in-out;
    }

    .question-exit.opened {
      transform: rotate(0deg);
      transition: all 0.4s ease-in-out;
    }
  }

  .question-text {
    margin-top: 20px;
    visibility: hidden;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: transparent;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    list-style: none;

    p {
      line-height: 1.5;
    }
  }

  .question-text.open {
    visibility: visible;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }

  .question_content-other {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .question-ico {
      width: 100px;
      height: 100px;
      background-color: #a3a3a3;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 2rem;
        font-weight: 500;
      }
    }

    h3 {
      font-size: 2rem;
      font-weight: 400;
    }

    button {
      text-transform: uppercase;
      width: 20rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: 500;
      color: #fff;
      background-color: $text;
      border: 1px solid $text;
      border-radius: 25px;
      transition: 0.4s;

      &:hover {
        color: $text;
        background-color: #fff;
        border: 1px solid $text;
      }
    }
  }
}

footer {
  margin-top: 200px;
  width: 100%;
  padding: 5% 10%;
  background-color: $text;
  display: flex;
  gap: 15%;

  iframe{
    border: 0;
  }
  .nav-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      position: relative;
      font-size: 1.2rem;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -3px;
        background: #fff;
        border-radius: 5px;
        transform: scaleX(0);
        transition: 0.4s;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  .logotype {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 2rem;
  }

  a,
  h6,
  p {
    color: #fff;
    text-decoration: none;
  }

  iframe {
    width: 150%;
    height: 300px;
    border-radius: 15px;
  }
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1300px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 11px;
  }

  footer {
    flex-direction: column;
    gap: 30px;

    iframe {
      width: 100% !important;
    }
  }

  .cards-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;

    .card {
      width: 100%;
      height: auto !important;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: start;

      .text-content {
        width: 100%;
        height: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;

        h5 {
          font-weight: 600;
          letter-spacing: 10px;
          font-size: 2rem;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 10px;

          p {
            display: flex;
            gap: 15px;
          }
        }
      }

      .img-content {
        width: 100% !important;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  html {
    font-size: 10px;
  }

  .modal-project-content {
    width: 300px !important;
    padding: 50px 10px !important;
    input {
      width: 100% !important;
    }
  }

  .question-ico {
    width: 50px !important;
    height: 50px !important;
  }

  .modal-content {
    width: 80% !important;
  }

  .navigation {
    width: 100% !important;
  }

  section,
  footer {
    margin-top: 100px !important;
  }

  .swiper-slide {
    height: 500px;
  }

  .Portfolio_section .cards-content .card .text-content {
    padding: 10%;
    gap: 20px;
  }

  .text-content-info .info {
    gap: 10px !important;
  }

  .services__cards {
    flex-direction: column;
    gap: 5px;

    .services__card {
      height: 200px;
      margin: 0;
    }
  }

  .About-Us .text-content {
    width: 70%;

    p {
      margin-top: 15px;
    }
  }

  .grid-content {
    grid-template-columns: 1fr !important;

    .tall {
      grid-column: span 1 !important;
    }
  }
}
@media (max-width: 375px) {
  .questions .question_content-1.open{
    margin: 0 auto 300px;
  }
}
@media (max-width: 350px) {
  .questions .question_content-1.open{
    margin: 0 auto 350px;
  }
}